body {
  background-color: black;
}

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}

.Categories {
  flex: 0 0 100%;
}

.Title {
  flex: 0 0 90%;
}


.HighlightCard {
  width: 18rem;
}

.link {
  text-decoration: none;
}